@{
    ViewData["Title"] = "ToDoList - Bienvenida";
}

<div class="text-center mt-5">
    <h1 class="display-4">Bienvenido a <strong>ToDoList</strong></h1>

    <div class="mt-4">
        <a class="btn btn-primary btn-lg m-2" asp-controller="Auth" asp-action="Register">Registrarse</a>
        <a class="btn btn-success btn-lg m-2" asp-controller="Auth" asp-action="Login">Iniciar Sesión</a>
    </div>
</div>